#{extends 'main.html' /} #{set title:'Home' /}

${med?.nome}

<form action="@{Medicos.salvar}" method="post">
	<div class="mb-3">
	
	<input type="hidden" class="form-control" id="exampleInputEmail1"  name="med.id" value="${med?.id}">
	
		<label for="exampleInputPassword1" class="form-label">Nome</label>
		<input value="${med?.nome}" name="med.nome" type="text" class="form-control"
			id="exampleInputPassword1">
	</div>
	  <div class="mb-3">
    <label for="crm" class="form-label">CRM</label>
    <input value="${med?.crm}"name="med.crm" type="text" class="form-control" id="crm" required>
  </div>
	
	<div class="mb-3">
		<label for="exampleFormControlInput1" class="form-label">Email
			</label> <input value="${med?.email}" name="med.email" type="email" class="form-control"
			id="exampleFormControlInput1" placeholder="name@example.com">
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>